snippet cl "console.log"
console.log($1)
endsnippet

snippet cfc "Create a function component"
import React from 'react'

export function ${1:component_name}() {
	return (
		$2
	)
}

endsnippet

snippet impo "New Import"
import { $2 } from '$1'
endsnippet

snippet impod "New Import"
import $2 from '$1'
endsnippet

snippet nh "New Hook"
import React from 'react'

export function ${1:hook_name}() {
	$2
}

endsnippet
